.container {
    width: 66vw;
    margin: 3rem 18vw 2rem 16vw;
}

@media screen and (min-width: 1500px) {
    .container {
        width: 45vw;
        margin: 3rem 30vw 2rem 26vw;
    }
}

.page-content {
    position: relative;
}

.main-image {
    position: relative;
    overflow: hidden;
}

.main-image {
    width: 33%;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

