.header-main {
    font-family: var(--crimson_text);
}

.header-main h1 {
    font-size: 4.5rem;
    margin: 0;
}

.header-main h5 {
    font-size: 2.5rem;
    margin: 0;
}

.contact-text {
    font-family: var(--montserrat);
    font-size: 1.25rem;
}